body {
    font-family: "Roboto", serif;
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid grey;
    padding: 1rem;
    background-color: rgb(132, 167, 39);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: white;
}

@media screen and (min-width: 500px) {
    header {
        background-color: black;
        color: white;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }
}