#logo{
    height:100px;
}

body{
    display: grid;
    grid-template-rows: 50px 150px 175px 350px 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
    border: solid grey;
    border-width: 1px;
    width: 825px;
    margin-left:auto;
    margin-right: auto;

}

header{
    border-bottom: solid grey;
    border-width: 1px;
    text-align: center;
    grid-row: 2/3;
    grid-column:2/7;
}

header p:nth-of-type(1){
    font-size:2em;
    margin: 35px;
}

header p:nth-of-type(2){
    color: #006EB6;
    letter-spacing: 3px;
}

#content1{
    grid-row:3/4;
    grid-column:2/7;
    margin-top:15px;
}

#content_list{
    grid-row:4/5;
    grid-column:2/7;
}

#logo-div{
    grid-row:5/6;
    align-content: center;
    grid-column:4/5;
}